<ion-header>
    <ion-card>
        <ion-card-header class="ion-text-center">
            <div>
                <ion-card-title>Bienvenid@!</ion-card-title>
            </div>
            <img src="assets/img/1.png" alt="">
            <h1>(usuario)</h1>
            <h1>{{nombre}}</h1>
        </ion-card-header>
    </ion-card>
    <ion-card>
        <ion-item color="secondary" type="submit" mode="md" expand="block" (click)="salir()" routerDirection="root" lines="none" detail="false">
            <ion-icon slot="start" [name]="'exit-outline'"></ion-icon>
            <ion-label>Cerrar sesion</ion-label>
        </ion-item>
    </ion-card>


</ion-header>