<ion-content color="dark" [fullscreen]="true" class="background">

    <ion-card class="ion-text-center">
        <ion-card-title class="ion-text-center">
            <ion-label>
                <br>
                <h1><b>Te llevo APP</b></h1>
                <ion-toolbar color>
                    <img height="150px" width="300px" src="assets/img/duocau.jpg">
                </ion-toolbar>
                <h5>Un amigo en DuocUC</h5>
            </ion-label>
        </ion-card-title>
    </ion-card>

    <ion-card>
        <form [formGroup]="formulariologin">
            <ion-item>
                <ion-label position="floating">Usuario</ion-label>
                <ion-input formControlName="nombre" type="text"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="floating">Contraseña</ion-label>
                <ion-input formControlName="passwor" type="password"></ion-input>
            </ion-item>

            <div>
                <ion-button color="secondary" type="submit" (click)="ingresar1()" expand="block">Ingresar</ion-button>
            </div>
        </form>
    </ion-card>
    <ion-card class="ion-text-center">
        <ion-label color="secondary" shape="block" (click)="presentAlert()">¿Olvidaste tu contraseña? Recuperala aquí</ion-label>
        <br>
        <ion-label color="secondary" shape="block" [routerLink]="['/registro']">Crear usuario</ion-label>
    </ion-card>
</ion-content>