<ion-header [translucent]="true">
    <ion-toolbar color="">
        <ion-card class="ion-text-center" color="dark">
            <ion-title class="ion-text-center">Te Llevo APP</ion-title>
            <img src="assets/img/1.png">
        </ion-card>
        <br>
    </ion-toolbar>
</ion-header>

<ion-content color="dark" [fullscreen]="true">

    <ion-card>
        <ion-toolbar>
            <br>
            <ion-buttons slot="primary">
                <ion-button (click)="clickedSearch()">
                </ion-button>
            </ion-buttons>
            <ion-searchbar placeholder="Ubicacion Actual"></ion-searchbar>
        </ion-toolbar>
        <ion-toolbar>
            <ion-buttons slot="primary">
                <ion-button (click)="clickedSearch()">
                    <ion-icon slot="icon-only" name="search"></ion-icon>
                </ion-button>
            </ion-buttons>
            <ion-searchbar placeholder="Destino"></ion-searchbar>
        </ion-toolbar>

        <ion-item>
            <ion-label>H</ion-label>
            <ion-datetime displayFormat="D MMM YYYY H:mm" min="2020" max="2021" value="2005-06-17T11:06Z"></ion-datetime>
        </ion-item>

        <ion-card>
            <ion-toolbar color="">
                <ion-input type="number" value="1"> Cantidad Persona:</ion-input>
            </ion-toolbar>
        </ion-card>
        <ion-button expand="block" size="small" color="tertiary" (click)="alerta()">Pedir viaje</ion-button>
    </ion-card>
    <ion-toolbar (click)="bounce()" #bouncebtn class="ion-text-center" color="">
        <ion-card color="dark">
            <ion-label color="">Mapa de tu Ubicacion</ion-label>
            <img src="assets/img/3.jpg">
            <ion-label color="">Vehiculos Disponible:2</ion-label>
        </ion-card>
    </ion-toolbar>
    <ion-card>
        <ion-toolbar>
            <ion-list>
                <ion-item>
                    <ion-label>CALLE 11
                    </ion-label>
                    <ion-checkbox slot="start"></ion-checkbox>
                </ion-item>
                <ion-item>
                    <ion-label>LUCITANIA</ion-label>
                    <ion-checkbox slot="start"></ion-checkbox>
                </ion-item>
                <ion-item>
                    <ion-label>6 NORTE</ion-label>
                    <ion-checkbox slot="start"></ion-checkbox>
                </ion-item>
            </ion-list>
        </ion-toolbar>
        <ion-button expand="block" size="small" color="tertiary" (click)="alerta2()">realizar viaje</ion-button>
    </ion-card>
    <br>
    <ion-toolbar color="dark">
        <ion-button shape="round" fill="outline" slot="" size="small" color="danger" shape="block" (click)="cerrar()">cerrar sesión</ion-button>
    </ion-toolbar>
</ion-content>