.my-custom-menu {
    --width: 500px;
}

.square {
    width: 100px;
    height: 100px;
    background: var(--ion-color-primary);
}

ion-card {
    --ion-item-background: #ffffff;
    --color: rgb(0, 0, 0);
}