<ion-content color="dark" [fullscreen]="true" class="background">
    <div class="ion-padding-vertical">
        <ion-card class="ion-text-center">
            <ion-card-title class="ion-text-center">
                <ion-label>
                    <br>
                    <img src="assets/img/2.png">
                    <h1>Te llevo APP</h1>
                    <h5>Un amigo en DuocUC</h5>
                </ion-label>
                <ion-label><img src="assets/img/1.png">
                    <h2>!Bienvenid@¡</h2>
                </ion-label>
            </ion-card-title>
        </ion-card>

        <ion-card mode="md">
            <ion-card-content>
                <form [formGroup]="HomeForm" (ngSubmit)="ingresar()">
                    <ion-item [ngClass]="{'mensaje-error' : HomeForm.get('user').errors && (HomeForm.get('user').touched || HomeForm.get('user').dirty)}">
                        <ion-label position="floating">Usuario</ion-label>
                        <ion-input formControlName="user" type="text" [(ngModel)]="newUser.newUsuario"></ion-input>
                    </ion-item>
                    <span class="help-block" *ngIf="HomeForm.get('user').errors && (HomeForm.get('user').touched || HomeForm.get('user').dirty)">
                        <small class="mensaje-error" *ngIf="HomeForm.get('user').errors.required">Se requiere ingresar usuario</small>
                        <small class="mensaje-error" *ngIf="HomeForm.get('user').errors.minlength">El usuario debe tener al menos 3 caracteres</small>
                    </span>
                    <ion-item [ngClass]="{'mensaje-error' : HomeForm.get('password').errors && (HomeForm.get('password').touched || HomeForm.get('password').dirty)}">
                        <ion-label position="floating">Contraseña</ion-label>
                        <ion-input formControlName="password" type="password" [(ngModel)]="newUser.newPass"></ion-input>
                    </ion-item>
                    <ng-container class="help-block" *ngIf="HomeForm.get('password').errors && (HomeForm.get('password').touched || HomeForm.get('password').dirty)">
                        <small class="mensaje-error" *ngIf="HomeForm.get('password').errors.required">Se requiere ingresar contraseña</small>
                        <small class="mensaje-error" *ngIf="HomeForm.get('password').errors.minlength">La contraseña debe tener al menos 3 caracteres</small>
                    </ng-container>
                    <div>
                        <ion-button color="secondary" [disabled]="!HomeForm.valid" type="submit" mode="md" expand="block">Ingresar</ion-button>
                    </div>
                </form>
            </ion-card-content>
        </ion-card>
        <ion-card class="ion-text-center">
            <ion-label color="secondary" shape="block" (click)="siguiente2()">¿Olvidaste tu contraseña? Recuperala aquí</ion-label>
            <br>
            <ion-label shape="block" (click)="(no)">Crear usuario</ion-label>
        </ion-card>
    </div>
</ion-content>