<ion-content color="dark" [fullscreen]="true">
    <ion-card>
        <ion-toolbar>
            <ion-list>
                <ion-item *ngFor="left viaje of viajes">
                    <ion-label position="floating">
                        <h2>{{viaje.inicio}}</h2>
                        <h2>{{viaje.destino}}</h2>
                        <p> {{viaje.tarifa}}</p>
                    </ion-label>
                    <ion-buttom (click)="deleteViajes(viaje.id)">Eliminar</ion-buttom>
                </ion-item>
            </ion-list>
        </ion-toolbar>
    </ion-card>
    <br>
</ion-content>