<ion-content color="dark" [fullscreen]="true">
    <ion-card>
        <ion-card-content>
            <div>
                <p>Viajes disponibles </p>
                <ion-item>
                    <ion-select placeholder="Seleccione viaje" [(ngModel)]="viajes">
                        <ion-select-option *ngFor="let vi of viajes" [value]="vi.viajeId">{{vi.hora}}hrs</ion-select-option>
                    </ion-select>
                </ion-item>
            </div>
            <div style="padding-top: 2em;">
                <p>Costo de viaje: </p>
                <p>$</p>
            </div>
        </ion-card-content>
    </ion-card>

    <br>
</ion-content>