<ion-content color="dark" [fullscreen]="true">
    <ion-card>
        <ion-card-content>
            <div>
                <p>Hora de Salida: </p>
                <ion-item>
                    <ion-datetime placeholder="00:00" picker-format="HH:mm" displayFormat="HH:mm" [(ngModel)]="viaje.hora"></ion-datetime>
                </ion-item>

                <ion-item>
                    <ion-label position="floating">Costo</ion-label>
                    <ion-input type="numeric" [(ngModel)]="viaje.precio"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label position="floating">inicio</ion-label>
                    <ion-input type="text" [(ngModel)]="viaje.origen"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label position="floating">Destino</ion-label>
                    <ion-input type="text" [(ngModel)]="viaje.destino"></ion-input>
                </ion-item>
            </div>
        </ion-card-content>
    </ion-card>
    <div class="ion-text-center">
        <ion-button color="secondary" style="margin-bottom: 1em;" (click)="createViaje()">Agendar Viaje</ion-button>
    </div>
    <ion-toolbar (click)="bounce()" #bouncebtn class="ion-text-center" color="">
        <ion-card color="dark">
            <ion-label color="">Mapa de tu Ubicacion</ion-label>
            <img src="assets/img/3.jpg">
            <ion-label color="">Vehiculos Disponible:2</ion-label>
            <!-- <script>
                type = "text/javascript"
                src = "http://maps.google.com/maps/api/js?sensor=false"
            </script>-->
        </ion-card>
    </ion-toolbar>
    <br>
</ion-content>